.page__bu {
    > header {
        background: #fff;
    }

    .header__logo {
        @include retina-image('../img/global/logo-on-light', 155px auto);
        background-position: 50% 70%;

        @include media($rwd-tablet) {
            @include retina-image('../img/global/logo-on-light', 100% auto);
            background-position: 50% 50%;
        }
        @include media($rwd-desktop) {
            background-position: 50% 100%;
        }
    }

    .header__h2 {
        position: absolute;
        font-family: $font-nav;
        font-weight: 400;
        color: $blue6;
        left: 10px;
        right: 10px;
        text-align: center;
        bottom: 28px;
        font-size: 13px;

        @include media($rwd-tablet) {
            text-align: left;
            left: 50%;
            width: 600px;
            margin-left: -300px;
            text-indent: 15px;
        }

        @include media($rwd-desktop) {
            font-size: 18px;
            bottom: 12px;
            left: 200px;
            margin-left: 0;
        }
        @include media($rwd-widescreen) {
            left: 280px;
            text-indent: 0;
        }
        @include media($rwd-ultrawide) {
            left: 350px;
            text-indent: 0;
        }
    }
    .body__header {
        &:before {
            @include media($rwd-desktop) {
                background-color: $c-1-blue;
                content: '';
                height: 30px;
                display: block;
                position: absolute;
                right: 0;
                left: 30px;
                bottom: 0;
            }
            @include media($rwd-widescreen) {
                left: 280px;
            }
            @include media($rwd-ultrawide) {
                left: 350px;
            }
        }
    }
    .header__nav {
        background-color: $c-1-blue;

        @include media($rwd-desktop) {
            background-color: transparent;
        }

        &:before {
            color: #fff;
        }

        .button-collapse {
            color: #fff;
        }
    }

    .main__breadcumb {
        background-color: transparent;
        color: $c-1-blue;
        font-size: 18px;

        a {
            color: #fff;

            &:hover {
                color: $c-2-blue;
                &:after {
                    color: #fff;
                }
            }
        }
    }
    main  {
        background-color: #9899a4;
        color: #fff;
    }
    .main__article {
        line-height: 1.3;

        @include media($rwd-desktop) {
            padding-top: 15px;
        }
        h4 {
            font-size: 20px;
            color: #fff;
        }

        p {
            font-size: 16px;
            strong {
                color: #fff;
            }
        }
    }
    .brand-logo {
        font-size: 0;
        text-align: center;
        img {
            width: auto;
            margin: 0 10px 10px 0;
        }
    }

    .main__aside {
        .nav__aside {
            ol li {
                &:hover {
                    &:before {
                        color: #fff;
                    }
                }
                a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
            >ul{
                >li {
                    > a {
                        &:hover, &.active {
                            background-color: #7290b4;
                            &:after {
                                border-left-color: #7290b4;
                            }
                        }
                    }
                }
            }
        }
    }

    .thumb__logo {
        margin: 0;
        padding: 0;

        li {
            position: relative;
            display: block;
            padding-left: 0!important;

            &:before {
                display: none;
            }
        }
        img {
            width: auto!important;
            max-width: 100%;
            display: block;
            margin: 0 auto 10px;
        }
    }
    .rsOverflow {
        @include media($rwd-desktop) {
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 75, 135, 0.9);
                background-repeat: no-repeat;
                background-position: 100% 50%;
                background-size: 90% auto;
                z-index: 1;
            }
        }
        @include media($rwd-widescreen) {
            &:before {
                background-size: auto;
            }
        }
    }

    main {
        @include media($rwd-desktop) {
            &:before {
                content: '';
                background-color: #004b87;
                display: block;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                z-index: -1;
            }
        }
    }
    @include media($rwd-desktop) {
        .rsOverflow, main {
            &:before {
                width: 21.2%;
            }
        }
    }
}

.main__article {
    @extend .clearfix;

}

.main__article--inner {
    @include span-columns(8);
}
.main__aside--inner {
    @include span-columns(4);
}

.rsOverflow {
   .page__automotive &:before {
        background-image: url('../img/bu/badge-automotive.png');
    }
    .page__infrastructure &:before {
        background-image: url('../img/bu/badge-infrastructure.png');
    } 
}

