@font-face {
  font-family: 'Blair ITC';
  src: url('../fonts/blair_itc_medium1.eot'); /* IE9 Compat Modes */
  src: url('../fonts/blair_itc_medium1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/blair_itc_medium1.woff') format('woff'), /* Modern Browsers */
       url('../fonts/blair_itc_medium1.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/blair_itc_medium1.svg#0c198d5074dafacb82eb629d7b6f1f45') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Blair ITC';
  src: url('../fonts/BlairITCStd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BlairITCStd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BlairITCStd.woff') format('woff'), /* Modern Browsers */
       url('../fonts/BlairITCStd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BlairITCStd.svg#4ed91f9a6f7a2d2b9ac3f4f1d507edfa') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Blair ITC';
  src: url('../fonts/blair_itc_bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/blair_itc_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/blair_itc_bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/blair_itc_bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/blair_itc_bold.svg#f24741071c4d25f39b469e88d4bb3db2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/calibri.eot'); /* IE9 Compat Modes */
  src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/calibri.woff') format('woff'), /* Modern Browsers */
       url('../fonts/calibri.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/calibri.svg#f7cee5eaf81ca6750bedc48055a4dffb') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/calibrib.eot'); /* IE9 Compat Modes */
  src: url('../fonts/calibrib.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/calibrib.woff') format('woff'), /* Modern Browsers */
       url('../fonts/calibrib.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/calibrib.svg#391495a9e47adc514367932fe8abb907') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}