@import "bourbon";
@import "neat";
@import "_var";
@import "_swiper";
@import "_royalslider";
@import "_jquery.selectBoxIt";
@import "_materialize";

body {
    font-family: 'CarlitoRegular';
    font-size: 16px;
    @include font-smoothing(on);
    background-color: $bg;
    color: $text-body;

    .padding-mobile {
        padding: 0 16px;
        @include media($rwd-tablet) {
            padding: 0 calc(50% - 290px);
        }
        @include media($rwd-desktop) {
            padding: 0 30px;
        }
        @include media($rwd-widescreen) {
            padding: 0 60px;
        }
        @include media($rwd-ultrawide) {
            padding: 0 80px;
        }
    }
    .margin-mobile {
        margin: 0 16px;
        @include media($rwd-tablet) {
            margin: 0 calc(50% - 300px);
        }
    }
    > header, > footer {
        @extend .padding-mobile;
        position: relative;
    }
    > header {
        @include linear-gradient(#014c86, 
            #082c50);
        height: 140px;
        padding-top: 3px;
        position: relative;
        z-index: 998;

        @include media($rwd-desktop) {
            height: 100px;
        }
    }
    main {
        @extend .margin-mobile;
        position: relative;
        z-index: 2;
    }

    >footer {
        margin-top: 30px;
    }
}


h1, h2, h3, h4, h5 {
    font-family: 'CarlitoBold';
    margin-top: 0;
}

a {
    text-decoration: none;
    color: $text-body;

    &:hover {
        color: #fff;
    }
}

.header__logo {
    @include size(238px 80px);
    @include retina-image('../img/global/logo', 200px auto);
    background-size: 200px auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    text-indent: -1000em;
    position: absolute;
    left: 50%;
    margin-left: (-238px/2);
    top: 12px;

    @include media($rwd-desktop) {
        @include size(175px 45px);
        background-size: 175px 45px;
        background-position: center center;
        position: relative;
        left: 0;
        margin-left: 0;
        float: left;
        top: 10px;
    }
    @include media($rwd-widescreen) {
        @include size(198px 50px);
        background-size: 198px 50px;
        top: 15px;
    }
    @include media($rwd-ultrawide) {
        @include size(238px 60px);
        background-size: 238px 60px;
    }
}

.header__search, .header__lang {
    color: $blue2;
}
.header__lang, .header__search {
    position: relative;
    z-index: 2;
    
}
.header__lang {
    text-align: right;
    float: right;
    padding-top: 5px;
    max-width: 130px;

    label {
        margin-right: 8px;
        font-size: 14px;
    }
    .selectboxit-arrow-container {
        display: none;
    }
    .selectboxit-btn {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        border: none;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: .5px;
    }
    .selectboxit-option-icon-url {
        background-size: 100% auto;
        width: 22px;
        height: 14px;
        margin-right: 15px;
        position: relative;
        top: 7px;
    }
    .selectboxit-option-icon-container {
        float: right;
    }
    .selectboxit-text {
        margin-left: 10px;
    }
    .selectboxit-btn.selectboxit-enabled:hover,
    .selectboxit-btn.selectboxit-enabled:focus,
    .selectboxit-btn.selectboxit-enabled:active,
    .selectboxit-list
    {
      color: #fff;
      background-color: $blue5;

    }
    .selectboxit-container {
        span, .selectboxit-options a {
            line-height: 30px;
            height: 28px;
        }
    }
    .selectboxit-list {
        top: 0px!important;

        .selectboxit-option-anchor {
            font-weight: 700;
            color: #fff;
            margin: 0 5px;
            font-size: 13px;

            .selectboxit-option-icon-url {
                margin-right: 5px;
            }
        }

        &>.selectboxit-focus>.selectboxit-option-anchor {
            background: #fff;
            color: #333;
        }
    }
    
}

#lang_switchSelectBoxItOptions {
    // display:block!important;
}

.header__search {
    float: left;
    padding: 10px 0; 
    position: relative;
    z-index: 3;

    label {
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        display: block;
        position: relative;
        z-index: 2;

        i {
            font-size: .85em;
            margin-left: 5px;
        }
    }
    input {
        background-color: #fff;
        border: none;
        width: 150px;
        font-family: 'CarlitoBold';
        height: 24px;
        padding: 2px 8px 0;
        font-size: 13px;
        &:focus {
            outline: none;
        }
    }

    @include placeholder {
        color: $blue2;
        font-family: 'CarlitoBold';
    }
    button {
        border: none;
        background-color: #8899aa;
        color: #fff;
        font-family: $font-nav;
        font-size: 9px;
        line-height: 22px;
        height: 24px;
        width: 50px;
        text-align: center;
        border: solid 1px #fff;
        position: relative;

        &:before, &:after {
            content: '';
            border: solid 10px transparent;
            border-top-color: #fff;
            position: absolute;
            bottom: -20px;
            left: 50%;
            margin-left: -10px;
        }
        &:after {
            border-top-color: #8899aa;
            bottom: -19px;
        }
    }

    @include media($rwd-desktop) {
        position: absolute;
        top: 3px;
        right: 180px;
    }
    @include media($rwd-widescreen) {
        right: 213px;
    }
    @include media($rwd-ultrawide) {
        right: 223px;
    }
}
#header__search--checkbox {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.header__search--input {
    background-color: $highlight;
    padding: 5px 10px 15px;
    position: absolute;
    z-index: 3;
    top: 5px;
    left: -10px;
    white-space: nowrap;
    display: none;

    label {
        color: #fff;
        display:block;
        margin-bottom: 5px;
    }
    input, button {
        display: inline-block;
    }
    &:after {
        content:'×';
        position: absolute;
        right: 10px;
        top: 2px;
        color: rgba(255, 255, 255, 1.0);
        font-size: 20px;
    }
}
#header__search--checkbox:checked + .header__search--input {
    display: block;
}

@import "_nav";

footer, nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

footer {
    h4 {
        font-size: 18px;
        margin: 0;
        color: $h4-footer;
    }
    

    section {
        display: none;
        float: left;
    }
    .footer__info, .footer__address, .footer__social, .footer__copyright {
        display:block;
    }
    .footer__address {
        @include media(440px) {
            margin-right: 100px;
        }
        @include media(540px) {
            margin-right: 30px;
        }
    }
    .fa {
        color: #ccc;
        margin-left: 5px;
    }
    .footer__info {
        margin-right: 20px;
    }
    .footer__social {
        float: right; 
        margin-right: 20px;
        @include media(540px) {
            float: none;
            margin-right: 0;
        }
        h4 {
            display: none;
        }
        ul {
            margin-top: 5px;
        }
        li {
            margin-bottom: 10px;
            text-align: right;
        }
    }
    .footer__copyright {
        clear: both;
        float: none;
        text-align: center;
        padding-top: 20px;
        color: #ccc;
        @extend .clearfix;

        @include media(440px) {
            text-align: right;
            p {
                line-height: 32px;
            }
            img {
                float: left;
            }
        }
    }

    @include media($rwd-desktop) {
        section {
            display:block;
            margin-right: 2.9%!important;
            @include span-columns(1.6);
        }
        .footer__address, .footer__info, .footer__social {
            float: right;
        }
        .footer__address {
            @include span-columns(3);
            float: right
        }
        .footer__address, .footer__copyright {
            margin-right: 0!important;
        }
        .footer__copyright {
            width: 100%;
            text-align: left;
            img {
                float: right;
            }
        }
        .footer__country {
            min-width: 140px;
            a {
                margin: 0 auto;
                display: block;
            }
        }
        .footer__social {
            min-width: 110px;
            h4 {
                display:block;
            }
            img {
                display:block;
                float: left;
                @include size(24px);
                margin-right: 10px;
            }
            li {
                clear: both;
            }
            a {
                display:block;
                overflow: hidden;

                &:after {
                    content: attr(title);
                    display: block;
                    text-align: left;
                    float: left;
                    width: calc(100% - 35px);
                    line-height: 1.1;
                }
            }
        }
        h4 {
            font-size: 14px;
        }
        ul {
            font-size: 12px;
            line-height: 1.6;
        }
        p {
            font-size: 12px;
            line-height: 1.6;
        }
    }
}
.royalSlider {
    background-color: #000;
}


@import "_home";
@import "_inside";
@import "_bu";