.margin-home {
    @include media($rwd-desktop) {
        margin-left: 60px;
        margin-right: 60px;
    }
    @include media($rwd-widescreen) {
        margin-left: 95px;
        margin-right: 95px;
    }
    @include media($rwd-ultrawide) {
        margin-left: 105px;
        margin-right: 105px;
    }
}
.padding-home {
    @include media($rwd-desktop) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @include media($rwd-widescreen) {
        padding-left: 95px;
        padding-right: 95px;
    }
    @include media($rwd-ultrawide) {
        padding-left: 105px;
        padding-right: 105px;
    }
}
.page__home main {
    @include media($rwd-desktop) {
        margin: 0;
        max-width: none;
    }
}

.main__slider--1 {
    height: 0;
    position: relative;
    padding-top: 55%;
    overflow: hidden;

    @include media($rwd-desktop) {
        padding-top: 36%;
    }

    @include media($rwd-widescreen) {
        padding-top: 39.6%;
    }
    @include media($rwd-ultrawide) {
        padding-top: 26.8%;
    }
}

.royalSlider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.rsDefault {
    .rsBullets {
        background-color: transparent;
        text-align: right;
        font-size: 0;
        height: 35px;
        display: none;
        @extend .padding-home;

        @include media($rwd-desktop) {
            display:block;
        }
        @include media($rwd-widescreen) {

        }
    }
    .rsBullet {
        display: inline-block;
        @include size(40px 10px);
        border-radius: 0;
        border: solid 1px #fff;
        background-color: transparent;
        margin: 0 5px;
        position: relative;
        cursor: pointer;

        &.rsNavSelected {
            &:after {
                content: '';
                position: absolute;
                bottom: -15px;
                left: 50%;
                margin-left: -8px;
                border: solid 8px transparent;
                border-top-color: #fff;
            }
        }
    }
}

.main__slider--3, .main__slider--4 {
    clear: both;
    display: none;
    position: relative;

    @include media($rwd-desktop) {
        display: block;
    }
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 2px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 2px;
}


.main__slider--2, .main__slider--3, .main__slider--4 {
    .swiper-button-prev, .swiper-button-next {
        opacity: .35;
    }

    .swiper-container-horizontal {
        @include media($rwd-desktop) {
            @extend .margin-home;
        }
    }
}
.swiper-button-disabled {
    opacity: 0!important;
}
.main__slider--2 {
    height: 100px;
    @include linear-gradient(#fff, #cdcdcc);

    .swiper-slide {
        position: relative;
        height: 100px;
        clear: both;
    }
    .slider__icon {
        width: 100px;
        display:block;
        float: left;
        text-align: center;
        img {
            height: 80px;
        }
        @include media($rwd-tablet) {
            width: 150px;
            img {
                height: 78px;
            }
        }
        @include media($rwd-desktop) {
            float: none;
            margin: 0 auto;
        }
    }
    .slider__label {
        width: calc(100% - 100px);
        display:block;
        float: left;
        line-height: 1.2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100px;
        color: $blue4;
        text-transform: uppercase;
        font-weight: 700;

        @include media($rwd-tablet) {
            left: 150px;
        }
        @include media($rwd-desktop) {
            top: auto;
            bottom: 10px;
            transform: translateY(0);
            left: 50%;
            margin-left: -65px;
            text-align: center;
            width: 130px;
            line-height: 0.9;
        }
    }

    @include media(max-width $rwd-desktop - 1) {
        height: auto;
        .swiper-wrapper {
            display:block;
        }
        .swiper-slide {
            height: 80px;
            display: block;
            font-family: $font-nav;
            @include linear-gradient(#fff, #cdcdcc);
            line-height: 80px;
            font-size: 13px;
            position: relative;

            @include media(440px) {
                font-size: 18px;
            }
        }
        .swiper-button-prev, .swiper-button-next {
            display: none;
        }
    }
}
.swiper-button-prev, .swiper-button-next {
    margin-top: -20px;
    @include size(40px 48px);
    @include transition(all .35s ease-out);

    &:hover {
        background-color: #a6bccf;
    }
}

.main__slider--head {
    font-size: 14px;
    color: $blue4;
    text-transform: uppercase;
    font-family: $font-nav;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    @extend .margin-home;

    span {
        background-color: $grey2;
        display: inline-block;
        padding-right: 10px;
        position: relative;
        z-index: 2;
    }

    &:before, &:after {
        position: absolute;
        bottom: 4px;
    }

    &:before {
        content: '';
        @include size(100% 5px);
        background-color: $c-2-platinum;
        display:block;
        z-index: 1;
    }

    &:after {
        content: '';
        border: solid 5px transparent;
        border-bottom-color: $grey2;
        z-index: 3;
        right: -4px;
    }
}

.main__slider--3, .main__slider--4 {
    height: auto;
    width: 100%;
    background-color: #eeedee;
    position: relative;

    .swiper-container {
        clear: both;
    }
    .swiper-button-prev, .swiper-button-next {
        margin-top: 5px;
        @include size(40px 48px);
    }

    @include media($rwd-desktop) {
        padding-top: 35px;
    }
}

.main__slider--3 {
    .main__slider--head {
        margin-bottom: 25px;
    }
    .swiper-slide {
        img {
            float: right;
        }
        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            width: 40%;
            min-width: 170px;
            height: 100%;
            background-color: $c-1-metal;
            padding: 10px 20px 10px 10px;
            transition: all .25s ease-in-out;

            &:before {
                content: '';
                position: absolute;
                border: solid 30px transparent;
                border-left-color: $c-1-metal;
                right: -40px;
                top: 50%;
                margin-top: -40px;
                transition: all .25s ease-in-out;
            }

            a {
                color: #fff;
            }

            p {
                color: $c-2-platinum;
                line-height: 1.2;
            }
            em {
                display:block;
                font-style: normal;;
                margin-top: 5px;
                color: $c-2-blue;
            }
        }
        h4, p {
            font-size: 12px;
        }
        h4 {
            line-height: 16px;
            text-transform: uppercase;
            margin-bottom: 10px;

            a {
                font-weight: 400;
                display: block;
                color: #fff;
                @include transition(color .25s ease-out);

                .no-touch & {
                    color: rgba(255, 255, 255, .75);
                }

                &:hover {
                    color: #fff;
                }
            }
        }

        &:hover {
            cursor: pointer;
            figcaption {
                background-color: $c-1-blue;
                &:before {
                    border-left-color: $c-1-blue;
                }
            }
            .main__slider--month {
                color: #024A85;
                background-color: $blue2;
            }
            .main__slider--date {
                background-color: #fff;
                color: #024A85;
            }
        }
    }
}

.main__slider--newsdate {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: $c-2-platinum;
    text-align: center;
    width: 50px;
    color: #fff;
    font-family: $font-date;
}
.main__slider--month {
    background-color: $c-1-blue;
    font-size: 11px;
    line-height: 1.3;
    height: 16px;
}
.main__slider--date {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    height: 25px;
}

.main__slider--4 {
    @include media($rwd-desktop) {
        .swiper-slide {
            text-align: center;
            line-height: 80px;
        }
    }
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background: url(../img/global/cursor-left.png) no-repeat;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background: url(../img/global/cursor-right.png) no-repeat;
}

figure {
    margin: 0;
}
