.page__inside {
    .rsDefault .rsArrowIcn {
        background-color: transparent;
    }
    .main__slider--1 {
        padding-top: 83.5%;
        @include media(480px) {
            padding-top: 50%;
        }
        @include media($rwd-tablet) {
            padding-top: 37.5%;
        }
        @include media($rwd-desktop) {
            padding-top: 21%;
        }
        @include media($rwd-widescreen) {
            padding-top: 18.5%;
        }
        @include media($rwd-ultrawide) {
            padding-top: 17.9%;
        }
    }
    main {
        background-color: #fff;
        @extend .clearfix;

        @include media($rwd-desktop) {
            margin: 0;
            max-width: none;
        }
    }
    .main__breadcumb {
        @extend .inside--left;
        @extend .inside--right;
    }
    .main__aside {
        display: none;

        @include media($rwd-desktop) {
            display:block;
        }
    }

    .main__aside {
        @extend .inside--left;

        @include media($rwd-desktop) {
            @include span-columns(2.58);
            padding-top: 20px;
            padding-bottom: 110px;
        }

        .nav__aside > ul > li {
            > a {
                // height: 30px;
                line-height: 1.1;
                display:block;
                background-color: #ebebeb;
                font-size: 14px;
                padding: 8px 10px 7px;
                margin-bottom: 5px;
                color: $c-1-blue;
                font-weight: 700;
                position: relative;

                &:after {
                    content: '';
                    border: solid 10px transparent;
                    border-left-color: #ebebeb;
                    position: absolute;
                    right: -18px;
                    top: 50%;
                    margin-top: -10px;
                }

                &:hover, &.active {
                    color: #fff;
                    background-color: $c-1-blue;
                    &:after {
                        border-left-color: $c-1-blue;
                    }
                }

                @include media($rwd-widescreen) {
                    font-size: 15px;
                    padding-left: 14px;
                    padding-right: 5px;
                }
                @include media($rwd-ultrawide) {
                    font-size: 16px;
                }
            }
        }
        ol {
            font-size: 14px;
            padding-left: 10px;
            margin-top: 5px;
        }
    }

    .main__article {
        padding: 16px;
        @extend .inside--right;
        
        @include media($rwd-desktop) {
            @include span-columns(12 - 2.58);
            padding-left: 0;
            padding-top: 40px;
            padding-bottom: 110px;
        }
        h1,h2,h3,h4, h5, h6 {
            font-family: $font-date;
            margin: 0 0 5px;
            line-height: 1.2;

            & + hr {
                height: 5px;
                width: 100%;
                border: none;
                position: relative;
                overflow: hidden;
                margin: 20px 0 50px;

                &:before, &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -10px;
                    border: solid 5px transparent; 
                }
                &:after {
                    border-top-color: #d4d8dc;
                    width: 35%;
                }

                &:before {
                    width: 100%;
                    border-top-color: #ebebeb;
                }
            }
        }

        hr.section {
            height: 5px;
            width: 100%;
            border: none;
            position: relative;
            overflow: hidden;
            margin: 20px 0 30px;

            &:before, &:after {
                content: '';
                position: absolute;
                top: 0;
                left: -10px;
                border: solid 5px transparent; 
            }
            &:after {
                border-top-color: #d4d8dc;
                width: 35%;
            }

            &:before {
                width: 100%;
                border-top-color: #ebebeb;
            }
        }

        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 26px;
        }
        h3 {
            font-size: 24px;
            font-weight: 500;
        }
        h4 {
            font-size: 21px;
            font-weight: 600;
        }
        h5 {
            font-size: 18px;
        }
        h6 {
            font-size: 18px;
        }
        h1, h2, h3, h4 {
            color: #004b87;
        }
        h5, h6 {
            margin-bottom: 10px;
            color: #2b75b1;

            strong {
                color: $c-3-orange;
            }
        }
        p {
            font-size: 15px;
            margin: 20px 0;
            strong {
                color: #2b75b1;
            }
            em {
                color: #e0861a;
            }
        }

        ol {
            font-size: 15px;
            padding-left: 0;

            li {
                padding-left: 25px;
                text-decoration: underline;
                &:before {
                    font-size: 1.5em;
                    top: -5px;
                }
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                padding-left: 25px;
                
                &:before {
                    content:'•';
                    position: absolute;
                    left: 0;
                    font-size: 1.4em;
                    top: -4px;
                }
            }
        }

        small {
            color: #9e0b0f;
            line-height: 1.4;
            margin-top: 20px;
            border-top: solid 1px #9e0b0f;
            display: block;
            font-size: 13px;
            padding: 10px 0 10px 15px;
            position: relative;

            &:before {
                content: '*';
                position: absolute;
                left: 0;
                top: 8px;
                font-size: 1.4em;
            }
        }

        .tag {
            display: inline-block;
            padding: 0 5px;
            border-radius: 3px;
            color: #fff;
            height: 18px;
            background-color: #91a0bd;
            font-size: 11px;
            font-weight: 700;
            line-height: 20px;
            margin-right: 5px;
        }
        .tag--primary {
            background-color: #02baf2;
        }
        .tag--success {
            background-color: #2b75b1;
        }
        .tag--info {
            background-color: #827358;
        }
        .tag--warning {
            background-color: #fcb414;
        }
        .tag--danger {
            background-color: #9e0b0f;
        }

        td, th {
            padding: 8px 10px;
        }
        table {
            margin-bottom: 30px;
            width: 100%;
        }

        thead {
            th {
                background-color: #ebebeb;
                vertical-align: center;
                text-align: left;
                border: solid 1px #ebebeb;

                h6 {
                    color: #7d7d7d;
                    margin: 0;
                    font-size: 16px;
                }
            }
        }
        tbody {
            td, th {
                border: solid 1px transparent;
                border-bottom-color: #ddd;
                border-top-color: #ddd;
                text-align: left;

                &:first-child {
                    border-left-color: #ddd;
                }
                &:last-child {
                    border-right-color: #ddd;
                }
            }
        }
    }

    
    
    li {
        position: relative;
    }
    ol {
        list-style: none;
        margin: 0;
        padding: 0 0 5px 15px;
        font-size: 15px;

        li {
            padding-left: 14px;
            margin-bottom: 3px;

            &:before {
                content: '▸';
                font-size: 1.3em;
                margin-right: 5px;
                position: absolute;
                top: -3px;
                left: 0;
            }
            &:hover {
                &:before {
                    color: $c-1-blue;
                }
            }
            a {
                color: #686975;
                &:hover {
                    color: $c-1-blue;
                }
            }
        }
    }

    blockquote {
        font-size: 15px;
        padding: 0;
        margin: 0;
        position: relative;
        padding: 10px 28px;
        display: inline-block;

        &:before, &:after {
            content: '';
            position: absolute;
            @include size(24px 18px);
            background-repeat: no-repeat;
            background-position: center center;
        }
        &:before {
            background-image: url('../img/global/quote-left.png');
            top: 5px;
            left: 0;
        }
        &:after {
            background-image: url('../img/global/quote-right.png');
            right: 5px;
            bottom: 18px;
        }
    }
}

.main__breadcumb {
    font-weight: 700;
    background-color: #686975;
    color: #fff;
    padding: 8px 16px;

    a {
        color: #91a0bd;
        transition: color .15s ease-in-out;
        // display: inline-block;

        &:after {
            content: '›';
            display: inline-block;
            width: 20px;
            text-align: center;
            transition: none;
            font-size: 1.5em;
            line-height: 0;
            position: relative;
            top: 2px;
        }
        &:hover {
            color: #fff;
            &:after {
                color: #91a0bd;
            }
        }
    }
}


.inside--left {
    @include media($rwd-desktop) {
        padding-left: 3%;
    }
    @include media($rwd-widescreen) {
        padding-left: 4.7%;
    }
    @include media($rwd-ultrawide) {
        padding-left: 6.25%;
    }
}
.inside--right {
    @include media($rwd-desktop) {
        padding-right: 3%;
    }
    @include media($rwd-widescreen) {
        padding-right: 4.7%;
    }
    @include media($rwd-ultrawide) {
        padding-right: 6.25%;
    }
}

.page__inside .main__article {
    img {
        width: 100%;
        margin-bottom: 20px;
    }

    section {
        img {
            margin: 5px 0;
            @include media($rwd-desktop) {
                margin: 20px 0;
            }
        }
        h6 {
            margin-bottom: 5px;
            font-size: 16px;
            color: #898989;
        }
        p {
            margin-top: 0;
        }
    }
}
.first {
    padding-right: (2.605% / 2);
}
.last {
    padding-left: (2.605% / 2);
}
