.header__nav {
    clear: both;
    height: 40px;
    background-color: #dadadd;
    padding: 0 16px;
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    overflow: hidden;
    font-family: $font-nav;

    .button-collapse {
        position: absolute;
        top: 0;
        right: 10px;
        line-height: 38px;
        height: 40px;
        i {
            font-size: 36px;
        }

        @include media($rwd-desktop) {
            display: none;
        }
    }

    a {
        color: $a-nav;
        font-weight: 500;
        font-size: 18px;
        line-height: 64px;
    }

    &:before {
        color: $a-nav;
        font-size: 18px;
        line-height: 44px;

        @include media($rwd-desktop) {
            display: none;
        }
    }

    @include media($rwd-tablet) {
        left: 50%;
        margin-left: -300px;
        max-width: 600px;
    }
    @include media($rwd-desktop) {
        line-height: 42px;
        height: 32px;
        color: rgba(255, 255, 255, .5);
        background:transparent;
        max-width: none;
        left: 30px;
        right: 30px;
        margin-left: 0;
        overflow: visible;
        padding: 0;

        li {
            display:inline-block;
            position: relative;

            &:hover {
                a {
                     color: $blue4;
                     background-color: #fff;
                     &:after {
                        display: block;
                     }
                }
            }
        }
        
        > ul > li {
            &:after {
                content: '';
                width: 100%;
                height: 10px;
                display: block;
                position: absolute;
                bottom: -10px;
            }

            >a:after {
                content: '';
                border: solid 10px transparent;
                border-top-color: #fff;
                position: absolute;
                bottom: -18px;
                left: 50%;
                margin-left: -10px;
                display: none;
            }
        }

        a {
            font-size: 12px;
            display:block;
            padding: 0 25px;
            font-weight: 500;
            color: rgba(255, 255, 255, .5);
            position: relative;
            height: 30px;
            line-height: 32px;

            &.active {
                color: #fff;

                &:hover {
                    color: $blue4;
                }
            }
        }

        > ul {
            @extend .clearfix;
            white-space: nowrap;
            font-size: 0;
            text-align: center;
        }
    }

    @include media($rwd-widescreen) {
        left: 60px;
        right: 60px;
        > ul {
            text-align: right;
        }
    }
    @include media($rwd-ultrawide) {
        left: 70px;
        right: 70px;
    }
}


.header__subnav, .header__subnav--2 {
    display: none;
    @include media(max-width #{$rwd-desktop - 1}) {
        display: none!important;
    }
}

.header__subnav {
    position: absolute;
    font-family: $font-date;
    text-transform: capitalize;


    @include media($rwd-desktop) {
        top: 35px;
    }
}

.header__subnav--list {
    background-color: rgba(255, 255, 255, .75);
    text-align: left;
    padding-top: 5px;

     li {
        display: block;

        a {
            position: relative;
        }
    }
    a {
        color: $c-1-blue;
        font-weight: 600;
        font-size: 14px;
        display: block;
        margin: 0 0 5px;
        background-color: #fff;
        padding: 0 10px;
        min-width: 200px;

        &:after { 
            display: none!important;
        }
    }
    > li > a {
        &:hover {
            background-color: $c-1-blue;
            color: #fff;
        }
    }
    li:hover {
        >a {
            background-color: $c-1-blue;
            color: #fff;
        }
        .header__subnav--2 {
           display: block; 
        }    
    }
}

.header__subnav--about {
    .header__subnav--2 {
        position: absolute;
        background-color: rgba(255, 255, 255, .75);
        padding-top: 5px;
        left: calc(100% + 15px);
        top: -5px;

        a {
            &:before {
                content: '►';
                margin-right: 3px;
                font-size: 0.8em;
            }
        }
        &:before {
            content:'';
            position: absolute;
            display: block;
            left: -15px;
            top: 8px;
            border: solid 10px transparent;
            border-left-color: $c-1-blue;
        }
        &:after {
            content: '';
            height: 100%;
            width: 12px;
            position: absolute;
            left: -12px;
            top: 0;
        }
    }
    .header__subnav--2 > li > a {
        &:hover {
            background-color: $c-1-blue;
            color: #fff;
        }
    }
}

.header__subnav--service {
    padding: 5px 0;
    background-color: rgba(225, 225, 225, .75);
    width: 220*3px;

    li {
        display: block;
        float: left;
    }
    figcaption {
        color: $c-1-blue;
        text-align: left;
        font-size: 15px;
        font-weight: 500;
        padding: 0 5px;

        &:before {
            content: '►';
            font-size: 0.8em;
            margin-right: 3px;
        }
    }
    >li:nth-child(3n+1) {
        clear: both;
    }
    img {
        display: block;
        opacity: .5;
    }
    a {
        height: auto;
        padding: 0;
        background-color: #fff;

        &:hover {
            background-color: $c-1-blue!important;
            figcaption {
                color: #fff;
            }
            img {
                opacity: 1;
            }
        }
    }
}

.header__subnav--media {
    li {
        
        &:hover {
            .header__subnav--2 {
                &:before {
                    position: absolute;
                    content: '';
                    border: solid 10px transparent;
                    border-right-color: $c-1-blue;
                    top: 10px;
                    right: -15px;
                }
            }     
        }
    }
    a {
        min-width: 167px;

        &:hover {

        }
    }

    .header__subnav--2 {
        position: absolute;
        right: calc(100% + 15px);
        top: -5px;
        width: 400px;

        &:after {
            content: '';
            height: 100%;
            width: 15px;
            position: absolute;
            right: -15px;
            top: 0;
        }

        a {
            white-space: normal;
            height: auto;
            margin: 0;
            color: #090c0d;
            line-height: 1.2;
            font-size: 12px;
            padding: 8px 10px;
            padding-left: 80px;
        }
        strong {
            display: block;
            color: $blue4;
            font-size: 17px;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        em {
            font-size: 10px;
            display:block;
            font-style: normal;
            margin-top: 5px;
            color: $c-2-blue;
        }

        .main__slider--newsdate {
            left: 10px;
            top: 10px;
        }
        .main__slider--month {
            text-transform: uppercase;
        }

        a:hover {
            color: #fff;
            strong, em {
                color: #fff;
            }
            .main__slider--month {
                background-color: $c-2-blue;
                color: $c-1-blue;
            }
            .main__slider--date {
                background-color: #fff;
                color: $c-1-blue;
            }
        }
        
    }
}

.header__nav {
    > ul > li:hover {
        > a + .header__subnav {
            display: block;
        }
    }
}

// main navigation active
.header__nav--active {
    @include media($rwd-desktop) {
        color: $blue4;
        background-color: #dadadd;

        &:after {
            display: block;
            border-top-color: #dadadd;
        }
    }
}
.header__nav {
    > ul {
        .page__home & >li:nth-child(1), 
        .page__about & >li:nth-child(2),
        .page__service & >li:nth-child(3),
        .page__client & >li:nth-child(4),
        .page__media & >li:nth-child(5),
        .page__contact & >li:nth-child(6),
        .page__automotive & >li:nth-child(1),
        .page__infrastructure & >li:nth-child(2),
        .page__solutions & >li:nth-child(3),
        .page__hospitality & >li:nth-child(4),
        .page__financial & >li:nth-child(5) {
            >a {
                @extend .header__nav--active;
            }
        }
    }

    .page__home & {
        &:before {
            content: 'Home';
        }
    }
    .page__about & {
        &:before {
            content: 'About RMA';
        }
    }
    .page__service & {
        &:before {
            content: 'Our Service';
        }
    }
    .page__client & {
        &:before {
            content: 'Our Clients';
        }
    }
    .page__media & {
        &:before {
            content: 'Media Center';
        }
    }
    .page__contact & {
        &:before {
            content: 'Contact Us';
        }
    }
    .page__automotive & {
        &:before {
            content: 'Automotive'
        }
    }
}

// Side Nav for mobile
@media screen and (max-width: 979px) {
    .side-nav {
        background-color: #043053;
        a {
            color: rgba(255, 255, 255, 0.5);
            .touch &:active ,.no-touch &:hover, &.active {
                color: #fff;
                background-color: transparent!important;
            }
        }

        li {
            .touch &:active ,.no-touch &:hover, &.active {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}
