$c-1-blue: #004B87;
$c-1-metal: #686975;

$c-2-blue: #91a0bd;
$c-2-platinum: #b0b7bc;
$c-2-green: #827358;

$c-3-yellow: #fcb414;
$c-3-cream: #dec79f;
$c-3-orange: #e0861a;

$bg: #0f1623;
$text-body: #707070;
$grey: $text-body;
$grey2: #eeedee;
$blue: #4075af;
$blue2: #8899aa;
$blue3: #002157;
$blue4: #004b87;
$blue5: #336f9f;
$blue6: #0e2c5b;

$h4-footer: $blue;
$a-nav: #041f56;

$highlight: $blue5;
$nav-highlight: $blue4;
$dark: #090c0d;

$rwd-tablet: 640px;
$rwd-desktop: 980px;
$rwd-widescreen: 1280px;
$rwd-ultrawide: 1680px;

$font-nav: 'Blair ITC';
$font-date: 'Open Sans';
$font-head: 'Calibri';

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

a, button, input {
  &:focus {
    box-shadow: none;
  }
}

