<footer>
            <section class="footer__access">
                <h4>Quick Access</h4>
                <ul>
                    <li><a href="#!">Home</a></li>
                    <li><a href="#!">About RMA</a></li>
                    <li><a href="#!">Our Services</a></li>
                    <li><a href="#!">Our Clients</a></li>
                    <li><a href="#!">Media Center</a></li>
                </ul>
            </section>

            <section class="footer__business">
                <h4>Our Business</h4>
                <ul>
                    <li><a href="#!">Automotive</a></li>
                    <li><a href="#!">Infrastructure</a></li>
                    <li><a href="#!">Engineering Solutions</a></li>
                    <li><a href="#!">Hospitality</a></li>
                    <li><a href="#!">Financial Service</a></li>
                </ul>
            </section>

            <section class="footer__country">
                <h4>Find us on your country</h4>
                <a href="#!">
                    <img src="img/global/worldmap.png" alt="World mpa">
                </a>
            </section>

            <section class="footer__address">
                <h4>RMA Group World Headquarters</h4>
                <p>
                    283/74 Home Place Office Building,15th Floor, <br>
                    Soi Sukhumvit 55 (Thonglor 13), Sukhumvit Road, <br>
                    Klongton-Nue, Wattana,Bangkok 10110 Thailand <br>
                    Tel : +66 (0) 2 762 8500 <br>
                    Fax : +66 (0) 2 712 7509
                </p>
            </section>

            <section class="footer__info">
                <h4>Our Information</h4>
                <ul>
                    <li><a href="#!">Contact Us</a></li>
                    <li><a href="#!">Careers <i class="fa fa-bullhorn"></i></a></li>
                    <li><a href="#!">Terms &amp; Conditions</a></li>
                    <li><a href="#!">RMA Login <i class="fa fa-lock"></i></a></li>
                </ul>
            </section>

            <section class="footer__social">
                <h4>Our Social Media</h4>
                <ul>
                    <li><a href="#!" title="Follow us on FACEBOOK" target="_blank"><img src="img/global/fb.png" alt="Follow us on FACEBOOK"></a></li>
                    <li><a href="#!" title="Follow us on LINKEDIN" target="_blank"><img src="img/global/linkedin.png" alt="Follow us on LINKEDIN"></a></li>
                    <li><a href="#!" title="Follow us on YOUTUBE" target="_blank"><img src="img/global/youtube.png" alt="Follow us on YOUTUBE"></a></li>
                </ul>
            </section>
            
            <section class="footer__copyright">
                <img src="img/global/logo_2x.png" height="32" alt="">
                <p>&copy; 2015 RMA Group. All Rights Reserved.</p>
            </section>
        </footer>