<header>
            <h1 class="header__logo">RMA Group</h1>
            <div class="header__search">
                <label for="header__search--checkbox">Search <i class="fa fa-search"></i></label>
                <input type="checkbox" name="header__search--checkbox" id="header__search--checkbox">
                <div class="header__search--input">
                    <label for="header__search--checkbox">Search <i class="fa fa-search"></i></label>
                    <input type="text" name="input_search" id="input_search"><button>GO</button>
                </div>
            </div>

            <div class="header__lang">
                <select id="lang_switch" name="lang">
                    <option value="en">
                        Languages
                    </option>
                    <option value="en" data-iconurl="img/global/flag-en_2x.png" selected>
                        English
                    </option>
                    <option value="fr" data-iconurl="img/global/flag-fr_2x.png">
                        France
                    </option>
                    <option value="th" data-iconurl="img/global/flag-th_2x.png">
                        Thai
                    </option>
                </select>
            </div>

            <nav class="header__nav">
                <ul id="slide-out" class="side-nav"> <!-- .side-nav -->
                    <li><a href="index.html">Home</a></li>
                    
                    <li>
                        <a href="overview.html">About RMA</a>
                        <ul class="header__subnav header__subnav--list header__subnav--about">
                            <li><a href="overview.html">overview</a></li>
                            <li><a href="#!">our values</a></li>
                            <li><a href="#!">milestones</a></li>
                            <li>
                                <a href="#!">business portfolio</a>
                                <ul class="header__subnav--2">
                                    <li><a href="#!">aid &amp; development</a></li>
                                    <li><a href="#!">corporate Responsibilities</a></li>
                                    <li><a href="#!">Government Contracts</a></li>
                                    <li><a href="#!">Turnkey Projects</a></li>
                                </ul>
                            </li>
                            <li><a href="#!">management team</a></li>
                            <li><a href="#!">quality management</a></li>
                            <li><a href="#!">CSR</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#!">Our Service</a>
                        <ul class="header__subnav header__subnav--service">
                            <li>
                                <a href="#!">
                                    <figure>
                                        <img src="img/global/nav-service-01.png" alt="Service Solution">
                                        <figcaption>
                                            Service solution
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <figure>
                                        <img src="img/global/nav-service-02.png" alt="Technical Support">
                                        <figcaption>
                                            Techinical support
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <figure>
                                        <img src="img/global/nav-service-03.png" alt="Warranty">
                                        <figcaption>
                                            warranty
                                        </figcaption>    
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <figure>
                                        <img src="img/global/nav-service-04.png" alt="Parts Supply">
                                        <figcaption>
                                            Parts supply
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <figure>
                                        <img src="img/global/nav-service-05.png" alt="Training">
                                        <figcaption>
                                            Training
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <figure>
                                        <img src="img/global/nav-service-06.png" alt="Logistic">
                                        <figcaption>
                                            Logistic
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="#!">Our Clients</a></li>
                    
                    <li>
                        <a href="#!">Media Center</a>
                        <ul class="header__subnav  header__subnav--list header__subnav--media">
                            <li>
                                <a href="#!">News &amp; Events</a>
                                <ul class="header__subnav--2">
                                    <li>
                                        <a href="#!">
                                            <div class="main__slider--newsdate">
                                                <div class="main__slider--month">Apr</div>
                                                <div class="main__slider--date">24</div>
                                            </div>
                                            <strong>Diggin new paths</strong>
                                            JCB Chooses RMA For Assembly Venture
                                            <em>Bangkok, Thailand, February 2015</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!">
                                            <div class="main__slider--newsdate">
                                                <div class="main__slider--month">May</div>
                                                <div class="main__slider--date">1</div>
                                            </div>
                                            <strong>DEFENDER LEADS ‘BRITISH CAR DAY’</strong>
                                            TEREX Construction Appoints RMA as Distributor for Laos RMA Laos will now supply Terex® trucks to the mining and construction sectors
                                            <em>Sri Lanka, March 2015 </em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!">
                                            <div class="main__slider--newsdate">
                                                <div class="main__slider--month">Mar</div>
                                                <div class="main__slider--date">27</div>
                                            </div>
                                            <strong>City Automobiles announces</strong> 
                                            Special pricing for Jaguar Land Rover at 35th 
                                            Bangkok International Motor Show
                                            <em>Bangkok, 27 March, 2014</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!">
                                            <div class="main__slider--newsdate">
                                                <div class="main__slider--month">May</div>
                                                <div class="main__slider--date">18</div>
                                            </div>
                                            <strong>DEFENDER LEADS ‘BRITISH CAR DAY’</strong>
                                            TEREX Construction Appoints RMA as Distributor for Laos RMA Laos will now supply Terex® trucks to the mining and construction sectors
                                            <em>Sri Lanka, March 2015 </em>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#!">Press release</a></li>
                            <li><a href="#!">Publications</a></li>
                        </ul>
                    </li>

                    <li><a href="#!">Contact Us</a></li>
                </ul>

                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </nav>
        </header>