<header class="body__header">
            <h1 class="header__logo">RMA Group</h1>
            <h2 class="header__h2">Our Business Units</h2>
            <div class="header__search">
                <label for="header__search--checkbox">Search <i class="fa fa-search"></i></label>
                <input type="checkbox" name="header__search--checkbox" id="header__search--checkbox">
                <div class="header__search--input">
                    <label for="header__search--checkbox">Search <i class="fa fa-search"></i></label>
                    <input type="text" name="input_search" id="input_search"><button>GO</button>
                </div>
            </div>

            <div class="header__lang">
                <select id="lang_switch" name="lang">
                    <option value="en">
                        Languages
                    </option>
                    <option value="en" data-iconurl="img/global/flag-en_2x.png" selected>
                        English
                    </option>
                    <option value="fr" data-iconurl="img/global/flag-fr_2x.png">
                        France
                    </option>
                    <option value="th" data-iconurl="img/global/flag-th_2x.png">
                        Thai
                    </option>
                </select>
            </div>

            <nav class="header__nav">
                <ul id="slide-out" class="side-nav"> <!-- .side-nav -->
                    <li><a href="bu-automotive.html">Automotive</a></li>

                    <li><a href="bu-infrastructure.html">Infrastructure</a></li>

                    <li><a href="#!">Engineering Solutions</a></li>

                    <li><a href="#!">Hospitality</a></li>

                    <li><a href="#!">Financial Services</a></li>
                </ul>

                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </nav>
        </header>