<script src="js/vendor/jquery-1.11.3.min.js"></script>
        <script src="js/vendor/jquery.debouncedresize.js"></script>
        <script src="js/vendor/jquery-ui.js"></script>
        <script src="js/vendor/materialize.min.js"></script>
        <script src="js/vendor/swiper.jquery.min.js"></script>
        <script src="js/vendor/jquery.royalslider.custom.min.js"></script>
        <script src="js/vendor/jquery.selectBoxIt.js"></script>
        <script src="js/vendor/jquery.columnizer.min.js"></script>
        <script src="js/plugins.js"></script>